.progress {
  position: relative;
  width: 250px;
  height: 6px;
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 3px;
  margin: auto 10px;
}

.stick {
  display: none;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
  top: -6px;
  left: 0;
}

.progress.sliding .stick,
.progress:hover .stick {
  display: block;
}
